<div>
    <div class="accordion">
        <div class="accordion-group" ng-show="!support_raw_api">
            <div class="accordion-heading" sc-collapse="in">
                <a class="accordion-toggle" href="javascript:void(0)">
                    HTTP RAW API
                </a>
            </div>
            <div class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="alert alert-block alert-danger">
                        {{warn_raw_api}}
                    </div>
                    <table class="table table-striped table-hover table-bordered" ng-show="http_api">
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                            <th>Description</th>
                            <th>Opt</th>
                        </tr>
                        <tr>
                            <td>http_api.enabled</td>
                            <td sc-pretty="http_api.enabled" scp-bool="true"></td>
                            <td>是否开启HTTP API，开启后就可以访问SRS提供的API管理服务器。默认: {{false| sc_filter_enabled}}</td>
                            <td>修改</td>
                        </tr>
                        <tr>
                            <td>http_api.listen</td>
                            <td sc-pretty="http_api.listen"></td>
                            <td>HTTP API的侦听地址，格式是&lt;[address:]port&gt;。默认: 1985</td>
                            <td>修改</td>
                        </tr>
                        <tr>
                            <td>http_api.crossdomain</td>
                            <td sc-pretty="http_api.crossdomain" scp-bool="true"></td>
                            <td>是否允许JS跨域，开启后JS可以直接跨域(还可以通过JSONP访问)。默认: {{true| sc_filter_enabled}}</td>
                            <td>修改</td>
                        </tr>
                        <tr>
                            <td>http_api.raw_api.enabled</td>
                            <td sc-pretty="http_api.raw_api.enabled" scp-bool="true"></td>
                            <td>是否开启HTTP RAW API，允许API修改服务器配置。默认: {{false| sc_filter_enabled}}</td>
                            <td>修改</td>
                        </tr>
                        <tr>
                            <td>http_api.raw_api.allow_reload</td>
                            <td sc-pretty="http_api.raw_api.allow_reload" scp-bool="true"></td>
                            <td>是否允许API进行Reload操作。默认: {{false| sc_filter_enabled}}</td>
                            <td>修改</td>
                        </tr>
                        <tr>
                            <td>http_api.raw_api.allow_query</td>
                            <td sc-pretty="http_api.raw_api.allow_query" scp-bool="true"></td>
                            <td>是否允许API进行Query查询操作。默认: {{false| sc_filter_enabled}}</td>
                            <td>修改</td>
                        </tr>
                        <tr>
                            <td>http_api.raw_api.allow_update</td>
                            <td sc-pretty="http_api.raw_api.allow_update" scp-bool="true"></td>
                            <td>是否允许API进行Update更新操作。默认: {{false| sc_filter_enabled}}</td>
                            <td>修改</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-group" ng-show="support_raw_api">
            <div class="accordion-heading" sc-collapse="in">
                <a class="accordion-toggle" href="javascript:void(0)">
                    服务器全局配置
                </a>
            </div>
            <div class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="accordion-inner">
                        <table class="table table-striped table-hover table-bordered">
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                                <th>Description</th>
                                <th>Opt</th>
                            </tr>
                            <tr sc-directive scd-data="global.listen" scd-span="span3"
                                scd-desc="RTMP服务器侦听的端口，提供RTMP服务，格式是&lt;[address:]port&gt;[,&lt;addressN&gt;portN]"
                                scd-array="true" scd-default="1935"
                                scd-submit="submit(global.listen)">
                            </tr>
                            <tr sc-directive scd-data="global.pid" scd-span="span3"
                                scd-desc="服务器使用的PID文件，每个进程必须用一个，否则无法启动。默认: ./objs/srs.pid"
                                scd-default="./objs/srs.pid"
                                scd-submit="submit(global.pid)">
                            </tr>
                            <tr sc-directive scd-data="global.chunk_size" scd-span="span3"
                                scd-desc="默认的ChunkSize，即RTMP分包的大小。默认: 60000"
                                scd-default="60000"
                                scd-submit="submit(global.chunk_size)">
                            </tr>
                            <tr sc-directive scd-data="global.ff_log_dir" scd-span="span4"
                                scd-desc="默认的FFMPEG日志目录，/dev/null禁用日志。默认: ./objs"
                                scd-default="./objs"
                                scd-submit="submit(global.ff_log_dir)">
                            </tr>
                            <tr sc-directive scd-data="global.srs_log_tank" scd-span="span3"
                                scd-desc="系统的日志容器，即存储方式。默认: file"
                                scd-default="file", scd-select="file,console"
                                scd-submit="submit(global.srs_log_tank)">
                            </tr>
                            <tr sc-directive scd-data="global.srs_log_level" scd-span="span3"
                                scd-desc="系统的日志级别，低于该级别的日志不会打印。默认: trace"
                                scd-default="trace" scd-select="verbose,info,trace,warn,error"
                                scd-submit="submit(global.srs_log_level)">
                            </tr>
                            <tr sc-directive scd-data="global.srs_log_file" scd-span="span4"
                                scd-desc="当日志容器为file，即日志写入文件时，日志文件的路径。默认: ./objs/srs.log"
                                scd-default="./objs/srs.log"
                                scd-submit="submit(global.srs_log_file)"
                                ng-show="global.srs_log_tank.value == 'file'">
                            </tr>
                            <tr sc-directive scd-data="global.max_connections" scd-span="span3"
                                scd-desc="系统的最大连接数，超过后将拒绝新连接。默认: 1000"
                                scd-default="1000"
                                scd-submit="submit(global.max_connections)">
                            </tr>
                            <tr>
                                <td>daemon</td>
                                <td sc-pretty="global.daemon.value" scp-bool="true"></td>
                                <td>是否以后台启动SRS。默认: {{true| sc_filter_yesno}}</td>
                                <td>修改</td>
                            </tr>
                            <tr sc-directive scd-data="global.utc_time" scd-span="span4"
                                scd-desc="是否启用UTC时间格式，影响日志的时间和路径中包含时间变量的配置。默认: {{false| sc_filter_yesno}}"
                                scd-default="false"
                                scd-submit="submit(global.utc_time)">
                            </tr>
                            <tr sc-directive scd-data="global.pithy_print_ms" scd-span="span3"
                                scd-desc="简化形式的日志打印间隔，单位: 毫秒。默认: 10000"
                                scd-default="10000"
                                scd-submit="submit(global.pithy_print_ms)">
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-group" ng-show="support_raw_api">
            <div class="accordion-heading" sc-collapse="in">
                <a class="accordion-toggle" href="javascript:void(0)">
                    服务器API配置(http_api)
                </a>
            </div>
            <div class="accordion-body collapse">
                <div class="accordion-inner">
                    <table class="table table-striped table-hover table-bordered">
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                            <th>Description</th>
                            <th>Opt</th>
                        </tr>
                        <tr>
                            <td>http_api.enabled</td>
                            <td sc-pretty="global.http_api.enabled.value" scp-bool="true"></td>
                            <td>是否开启HTTP API，开启后就可以访问SRS提供的API管理服务器。默认: {{false| sc_filter_enabled}}</td>
                            <td>修改</td>
                        </tr>
                        <tr>
                            <td>http_api.listen</td>
                            <td sc-pretty="global.http_api.listen.value"></td>
                            <td>HTTP API的侦听地址，格式是&lt;[address:]port&gt;。默认: 1985</td>
                            <td>修改</td>
                        </tr>
                        <tr>
                            <td>http_api.crossdomain</td>
                            <td sc-pretty="global.http_api.crossdomain.value" scp-bool="true"></td>
                            <td>是否允许JS跨域，开启后JS可以直接跨域(还可以通过JSONP访问)。默认: {{true| sc_filter_enabled}}</td>
                            <td>修改</td>
                        </tr>
                        <tr>
                            <td>http_api.raw_api.enabled</td>
                            <td sc-pretty="global.http_api.raw_api.enabled.value" scp-bool="true"></td>
                            <td>是否开启HTTP RAW API，允许API修改服务器配置。默认: {{false| sc_filter_enabled}}</td>
                            <td>修改</td>
                        </tr>
                        <tr>
                            <td>http_api.raw_api.allow_reload</td>
                            <td sc-pretty="global.http_api.raw_api.allow_reload.value" scp-bool="true"></td>
                            <td>是否允许API进行Reload操作。默认: {{false| sc_filter_enabled}}</td>
                            <td>修改</td>
                        </tr>
                        <tr>
                            <td>http_api.raw_api.allow_query</td>
                            <td sc-pretty="global.http_api.raw_api.allow_query.value" scp-bool="true"></td>
                            <td>是否允许API进行Query查询操作。默认: {{false| sc_filter_enabled}}</td>
                            <td>修改</td>
                        </tr>
                        <tr>
                            <td>http_api.raw_api.allow_update</td>
                            <td sc-pretty="global.http_api.raw_api.allow_update.value" scp-bool="true"></td>
                            <td>是否允许API进行Update更新操作。默认: {{false| sc_filter_enabled}}</td>
                            <td>修改</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-group" ng-show="support_raw_api">
            <div class="accordion-heading" sc-collapse="in">
                <a class="accordion-toggle" href="javascript:void(0)">
                    服务器心跳汇报(heartbeat)
                </a>
            </div>
            <div class="accordion-body collapse">
                <div class="accordion-inner">
                    <table class="table table-striped table-hover table-bordered">
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                            <th>Description</th>
                            <th>Opt</th>
                        </tr>
                        <tr sc-directive scd-data="global.heartbeat.enabled" scd-span="span3"
                            scd-desc="是否开启服务器心跳，向外部系统汇报。默认: {{false| sc_filter_enabled}}"
                            scd-default="false" scd-bool="true"
                            scd-submit="submit(global.heartbeat.enabled)">
                        </tr>
                        <tr sc-directive scd-data="global.heartbeat.interval" scd-span="span3"
                            scd-desc="心跳间隔的时间，单位: 秒。默认: 9.9"
                            scd-default="9.9"
                            scd-submit="submit(global.heartbeat.interval)"
                            ng-show="global.heartbeat.enabled.value">
                        </tr>
                        <tr sc-directive scd-data="global.heartbeat.url" scd-span="span5"
                            scd-desc="汇报的HTTP服务器地址，汇报信息格式是JSON。默认: http://127.0.0.1:8085/api/v1/servers"
                            scd-default="http://127.0.0.1:8085/api/v1/servers"
                            scd-submit="submit(global.heartbeat.url)"
                            ng-show="global.heartbeat.enabled.value">
                        </tr>
                        <tr sc-directive scd-data="global.heartbeat.device_id" scd-span="span5"
                            scd-desc="设备ID，SRS会写入汇报信息中。"
                            scd-submit="submit(global.heartbeat.device_id)"
                            ng-show="global.heartbeat.enabled.value">
                        </tr>
                        <tr sc-directive scd-data="global.heartbeat.smmaries" scd-span="span3"
                            scd-desc="是否汇报摘要，即服务器的summaries信息。默认: {{false| sc_filter_yesno}}"
                            scd-default="false" scd-bool="true"
                        scd-submit="submit(global.heartbeat.summaries)"
                            ng-show="global.heartbeat.enabled.value">
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-group" ng-show="support_raw_api">
            <div class="accordion-heading" sc-collapse="in">
                <a class="accordion-toggle" href="javascript:void(0)">
                    服务器统计信息配置(stats)
                </a>
            </div>
            <div class="accordion-body collapse">
                <div class="accordion-inner">
                    <table class="table table-striped table-hover table-bordered">
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                            <th>Description</th>
                            <th>Opt</th>
                        </tr>
                        <tr sc-directive scd-data="global.stats.network" scd-span="span3"
                            scd-desc="统计的网卡索引，从0开始算第一块网卡。默认: 0"
                            scd-default="0"
                            scd-submit="submit(global.stats.network)">
                        </tr>
                        <tr sc-directive scd-data="global.stats.disk" scd-span="span3"
                            scd-desc="统计的磁盘名称，可以在/proc/diskstats中查看。"
                            scd-array="true"
                            scd-submit="submit(global.stats.disk)">
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-group" ng-show="support_raw_api">
            <div class="accordion-heading" sc-collapse="in">
                <a class="accordion-toggle" href="javascript:void(0)">
                    HTTP服务器配置(http_server)
                </a>
            </div>
            <div class="accordion-body collapse">
                <div class="accordion-inner">
                    <table class="table table-striped table-hover table-bordered">
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                            <th>Description</th>
                            <th>Opt</th>
                        </tr>
                        <tr sc-directive scd-data="global.http_server.enabled" scd-span="span3"
                            scd-desc="是否开启HTTP文件服务器和HTTP流服务器。默认: {{false| sc_filter_enabled}}"
                            scd-default="false" scd-bool="true"
                            scd-submit="submit(global.http_server.enabled)">
                        </tr>
                        <tr sc-directive scd-data="global.http_server.listen" scd-span="span3"
                            scd-desc="HTTP服务器侦听的地址，格式是&lt;[address:]port&gt;。默认: 8080"
                            scd-default="8080"
                            scd-submit="submit(global.http_server.listen)"
                            ng-show="global.http_server.enabled.value">
                        </tr>
                        <tr sc-directive scd-data="global.http_server.dir" scd-span="span5"
                            scd-desc="HTTP服务器的主目录。默认: ./objs/nginx/html"
                            scd-default="./objs/nginx/html"
                            scd-submit="submit(global.http_server.dir)"
                            ng-show="global.http_server.enabled.value">
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-group" ng-show="support_raw_api">
            <div class="accordion-heading" sc-collapse="in">
                <a class="accordion-toggle" href="javascript:void(0)">
                    StreamCaster流转换器(stream_caster)
                </a>
            </div>
            <div class="accordion-body collapse">
                <div class="accordion-inner">
                    <table class="table table-striped table-hover table-bordered">
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                            <th>Description</th>
                            <td>Opt</td>
                        </tr>
                        <tr sc-directive scd-data="global.stream_caster.enabled" scd-span="span3"
                            scd-desc="是否开启StreamCaster，即接收特殊的流后转换成RTMP送到SRS。默认: {{false| sc_filter_enabled}}"
                            scd-default="false" scd-bool="true"
                            scd-submit="submit(global.stream_caster.enabled)">
                        </tr>
                        <tr sc-directive scd-data="global.stream_caster.caster" scd-span="span3"
                            scd-desc="转换器的类型，不同的类型需要不同的配置，mpegts_over_udp,rtsp,flv"
                            scd-select="mpegts_over_udp,rtsp,flv"
                            scd-submit="submit(global.stream_caster.caster)"
                            ng-show="global.stream_caster.enabled.value">
                        </tr>
                        <tr sc-directive scd-data="global.stream_caster.output" scd-span="span5"
                            scd-desc="输出的RTMP地址，转换器侦听端口，接收特定的流，转换成RTMP后送到SRS。"
                            scd-submit="submit(global.stream_caster.output)"
                            ng-show="global.stream_caster.enabled.value">
                        </tr>
                        <tr sc-directive scd-data="global.stream_caster.listen" scd-span="span3"
                            scd-desc="转换器侦听的地址，格式是&lt;port&gt;"
                            scd-submit="submit(global.stream_caster.listen)"
                            ng-show="global.stream_caster.enabled.value">
                        </tr>
                        <tr sc-directive scd-data="global.stream_caster.rtp_port_min" scd-span="span3"
                            scd-desc="转换器会在[rtp_port_min, rtp_port_max]中间选择一个新端口并侦听，参考RTP协议。"
                            scd-submit="submit(global.stream_caster.rtp_port_min)"
                            ng-show="global.stream_caster.enabled.value && global.stream_caster.caster.value == 'rtsp'">
                        </tr>
                        <tr sc-directive scd-data="global.stream_caster.rtp_port_max" scd-span="span3"
                            scd-desc="转换器会在[rtp_port_min, rtp_port_max]中间选择一个新端口并侦听，参考RTP协议。"
                            scd-submit="submit(global.stream_caster.rtp_port_max)"
                            ng-show="global.stream_caster.enabled.value && global.stream_caster.caster.value == 'rtsp'">
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-group" ng-show="support_raw_api">
            <div class="accordion-heading" sc-collapse="in">
                <a class="accordion-toggle" href="javascript:void(0)">
                    虚拟主机(Vhosts)列表, 共配置有{{global.nb_vhosts.value}}个Vhost
                </a>
            </div>
            <div class="accordion-body collapse">
                <div class="accordion-inner">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>ID</th>
                            <th>主机名称</th>
                            <th>源</th>
                            <th>DVR</th>
                            <th>HTTP</th>
                            <th>FLV</th>
                            <th>HLS</th>
                            <th>HDS</th>
                            <th>回调</th>
                            <th>Exec</th>
                            <th ng-show="false">BWT</th>
                            <th>转发</th>
                            <th>安全</th>
                            <th>盗链</th>
                            <th ng-show="false">MR</th>
                            <th ng-show="false">RTC</th>
                            <th ng-show="false">GOP</th>
                            <th ng-show="false">TcpNoDelay</th>
                            <th ng-show="false">MixCorrect</th>
                            <th ng-show="false">TimeJitter</th>
                            <th ng-show="false">ATC</th>
                            <th>转码</th>
                            <th>采集</th>
                            <th>Opt</th>
                        </tr>
                        <tr ng-repeat="vhost in global.vhosts.value">
                            <td><a href="#/vhosts/{{vhost.id}}" ng-show="vhost.id">{{vhost.id}}</a><span ng-show="!vhost.id">无流</span> </td>
                            <td>{{vhost.name}}</td>
                            <td>{{vhost.origin| sc_filter_yn}}</td>
                            <td>{{vhost.dvr| sc_filter_yn}}</td>
                            <td>{{vhost.http_static| sc_filter_yn}}</td>
                            <td>{{vhost.http_remux| sc_filter_yn}}</td>
                            <td>{{vhost.hls| sc_filter_yn}}</td>
                            <td>{{vhost.hds| sc_filter_yn}}</td>
                            <td>{{vhost.http_hooks| sc_filter_yn}}</td>
                            <td>{{vhost.exec| sc_filter_yn}}</td>
                            <td ng-show="false">{{vhost.bandcheck| sc_filter_yn}}</td>
                            <td>{{vhost.forward| sc_filter_yn}}</td>
                            <td>{{vhost.security| sc_filter_yn}}</td>
                            <td>{{vhost.refer| sc_filter_yn}}</td>
                            <td ng-show="false">{{vhost.mr| sc_filter_yn}}</td>
                            <td ng-show="false">{{vhost.min_latency| sc_filter_yn}}</td>
                            <td ng-show="false">{{vhost.gop_cache| sc_filter_yn}}</td>
                            <td ng-show="false">{{vhost.tcp_nodelay| sc_filter_yn}}</td>
                            <td ng-show="false">{{vhost.mix_correct| sc_filter_yn}}</td>
                            <td ng-show="false">{{vhost.time_jitter| sc_filter_yn}}</td>
                            <td ng-show="false">{{vhost.atc| sc_filter_yn}}</td>
                            <td>{{vhost.transcode| sc_filter_yn}}</td>
                            <td>{{vhost.ingest| sc_filter_yn}}</td>
                            <td><a href="#/configs/{{vhost.name}}">详细</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>